@{
    ViewBag.Title = "Доступ закрыт";
}
<link rel="stylesheet" href="~/css/Blog.css" />

<br />
<br />


<a class="article first-article">

    <figure class="article-image">
        <img src="/images/asseccdined.jpg">
    </figure>
    <div class="article-body">
        <h2 class="article-title">
            Доступ запрещен.
        </h2>


    </div>
</a>