@{
    ViewBag.Title = "Анкета времено заблокированна";
}
<link rel="stylesheet" href="~/css/Blog.css" />
<br />
<br />

<a class="article first-article">

    <figure class="article-image">
        <img src="/images/user-blocked.png">
    </figure>
    <div class="article-body">
        <h2 class="article-title">
            Превышенно количество неудачных попыток ввода пароля. Анкета временно заблокированна.
        </h2>


    </div>
</a>